body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  color: white;
  height: 50px;
}

.Content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  color: white;
  height: 50px;
}
